.testing {

    color: blue;

    height: 500px;
    width: 1000px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 20px;

    border:darkturquoise dashed;
    border-radius: 10px;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    line-height: 100px;
    letter-spacing: 4px;
    
    display: inline-block;
   
      }
    
    
  }
}
 .testing:hover {
    background-color: darkred;

 }


 